.rounded-button {
  display: flex;
  padding: 11px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 26px;
  border: none;
  background: var(--material-theme-sys-dark-secondary-fixed-dim, #FFC97C);
  cursor: pointer;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  /* box-shadow: 0 4px 16px -6px #000; */
  
  &:hover {
    background-color: #fdc069;
    box-shadow: 0 4px 6px -4px #000 inset;
  }
}
  
span {
  color: #000;
  text-align: center;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}