* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    /* width: auto; */
    height: 10vh;
    padding: 5px;
    min-height: auto;
    background-color: #ADF679;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);              */
}

nav {
    position: relative;
    right: 15vw;
}

.logo {
    height: 70px;
    width: auto;
    position: relative;
    left: 15vw;
}

.line {
    color: green;
    cursor: context-menu;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

ul > li {
    margin-left: 40px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.material-symbols-outlined {
    font-size: 40px;
}