h5 {
    color: #000;
    display: inline-flex;
    padding: 0px 4px;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

p {
    display: flex;
    width: 212px;
    height: 55px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user-container {
    display: grid;
    justify-items: center;
    width: 30vw;
    height: 100vh;
    margin-left: 10vw;
    background-color: #FFCC90;
}

.user-img {
    margin-top: 27px;
    height: 250px;
    width: auto;
    border-radius: 150px;
}

.username {
    color: #000;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.occupation {
    color: #000;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%;
    letter-spacing: 0.058px;
}

span {
    color: #006A69;
}

.messages {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 393px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #FFB956;
}

.message {
    display: flex;
    gap: 1vw;
    width: 338px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #FFDDB5;
    cursor: pointer;
}

.user-message {
    width: 61px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 61px;
    align-self: center;
    margin-left: 18px;
}

.user-info {
    display: grid;
    text-align: left;
    padding-top: 10px;
}

.info1 {
    height: 26px;
    border-radius: 6px;
    align-items: center;
    background-color: #F4F4ED;
}

.more-features {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.status {
    display: grid;
    background-color: aliceblue;
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
    color: #92D960;
    font-size: medium;
    font-weight: 500px;
    border-radius: 5px;
}